body {
  margin: 0;
}

#game {
  position: absolute;
  font-size: 40px;
  left: 0;
  top: 0;
  width: 8em;
  height: 12em;
  background-color: rgb(30,30,30);
  font-family: Geo;
  color: rgb(200,200,100);

  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

#game .screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

#game .screen.active{
  display: block;
}

#splash-screen{
  text-align: center;
  padding-top: 100px;
}

#splash-screen .continue{
  cursor: pointer;
  font-size: 30px;
}

.logo{
  font-family: Slackey;
  font-size: 1.5em;
  line-height: 0.9em;
  margin: 0 0 0.5em 0;
  text-align: center;
  color: rgb(70,120,20);
  text-shadow: 0.03em 0.03em 0.03em rgb(255,255,0),
               0.03em 0.03em 0.03em rgb(255,255,0),
               0.15em 0.15em 0.15em rgb(255,0,0)
}

.no-textshadow .logo {
    filter : dropshadow(color=#000000,offX=3,offY=3);
}

/* Main menu styles*/
#main-menu {
  padding-top: 1em;
}

ul.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu li {
  margin: 0.8em 0;
}

ul.menu li button {
  font-family: Geo, sans-serif;
  font-size: 0.6em;
  color: rgb(100,120,0);
  width: 10em;
  height: 1.5em;
  background: rgb(10,20,0);
  border: 0.1 solid rgb(255,255,0);
  border-radius: 0.5em;
  -webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
  -moz-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
  box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
}

ul.menu li button:hover {
  background: rgb(30,40,0);
}

ul.menu li button:active{
  color: rgb(255,255,0);
  background: rgb(30,40,0);
};

/* Install screen for iOS devices */
#install-screen  {
    padding-top : 0.5em;
    text-align : center;
}

#install-screen span {
    font-size : 0.75em;
    display : inline-block;
    padding : 0 0.5em;
}
